.wraper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.__container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
}
.page {
  flex: 1 1 auto;
}
.footer {
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
}
