.header {
  // .header__container
  &__container {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobilebreakpoint) {
      height: 50px;
    }
  }

  // .header__logo
  &__logo {
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }

  // .header__menu
  &__menu {
    margin-bottom: -3px;
    @media (min-width: $mobilebreakpoint) {
      margin-left: 38px;
    }
  }

  // .header__btn
  &__btn {
    height: 50px;
    @media (max-width: $mobilebreakpoint) {
      margin-left: auto;
      margin-right: 30px;
      height: 40px;
      & a {
        padding: 5px 10px;
      }
    }
    @media (max-width: 500px) {
      & a {
        visibility: hidden;
        padding: 5px 5px;
        max-width: 40px;
        position: relative;
      }
      & a::before {
        position: absolute;
        top: 16px;
        left: 11px;
        content: "+";
        font-size: 30px;
        visibility: visible;
      }
    }
  }
}

.main-menu {
  // .main-menu__list
  display: block;
  &__list {
    display: flex;
  }

  // .main-menu__item
  &__item {
    border-bottom: 3px solid transparent;
    transition: 0.35s;
    @media (min-width: $mobilebreakpoint) {
      &:not(:last-child) {
        margin-right: 25px;
      }
      &:hover {
        & a {
          border-bottom: 3px solid #fff;
        }
      }
    }
    @media (min-width: 980px) {
      &:not(:last-child) {
        margin-right: 51px;
      }
    }
  }

  // .main-menu__link
  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
  }
  @media (max-width: $mobilebreakpoint) {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    left: -100%;
    background: rgb(153, 152, 152);
    padding-top: 20px;
    transition: 0.3s;
    overflow: auto;
    &__list {
      display: block;
      text-align: center;
    }
    &__link {
      font-size: 30px;
      line-height: 200%;
    }
  }
}

.main-menu.active {
  left: 0;
}

.header__burger {
  cursor: pointer;
  margin-right: 10px;
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  & span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    transition: 0.3s;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
  }
  &::after {
    bottom: 0;
  }
  &::before {
    top: 0;
  }
  @media (max-width: $mobilebreakpoint) {
    display: flex;
  }
}

.header__burger.active {
  & span {
    transform: scale(0);
  }
  &::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
  &::before {
    top: 9px;
    transform: rotate(45deg);
  }
}
