// USER VARIABLES SECTION

$accent: #c9453b; // Accent Color
$backgroundcolor: #fff;
$fontsize: 18px; // Body Font Size
$fontweight: 400;
$textcolor: #000; // Text Color
$link-color: #fff;
$link-decoration: none;
$lineheight: 2; // Document Line Height
$textalign: none;
$userfont: "Roboto", sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$mobilebreakpoint: 768px;

$container-width: 1172px;

// @import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap');

// GENERAL CSS SETTINGS
*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0; // 1
  font-family: $userfont;
  font-size: $fontsize;
  font-weight: $fontweight;
  line-height: $lineheight;
  color: $textcolor;
  text-align: $textalign;
  background-color: $backgroundcolor;
  min-width: 300px;
  overflow-x: hidden;
}
body.locked {
  overflow: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  display: inline-block;
  transition: opacity 0.35s;
  @media (max-width: $mobilebreakpoint) {
    &:hover {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

img,
svg {
  vertical-align: middle;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // 1
  font-family: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

textarea {
  resize: vertical; // 1
}

[hidden] {
  display: none !important;
}

// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
  @return if(
    $weight > 0,
    shade-color($color, $weight),
    tint-color($color, -$weight)
  );
}
